body {
    background-color: #f3cf85;
}

header {
    text-align: center;
    height: 400px;
    background-image: url('../Images/tin-tuc.jpg');
}

cpMainContent {
    height: 800px;
}

footer {
    text-align: center;
    height: 40px;
    line-height: 40px;
    clear: both;
    background-color: #808080;

}
.danhmuc {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #808080;
}

.danhmuc li {
    display: inline;
        
}
.danhmuc a {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
}